@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gloria+Hallelujah&family=Indie+Flower&family=Permanent+Marker&family=Roboto+Mono&family=RocknRoll+One&display=swap');

@font-face {
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'),
        url('../font/fontawesome-webfont.woff') format('woff'),
        url('../font/fontawesome-webfont.ttf') format('truetype'),
        url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.row {
    --bs-gutter-x: : 0;
}

/*--------------------------------------Header/Navigation----*/

.logo img {
    height: 100%;
    max-height: 72px;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
}

.navbar-toggler {
    margin: 10px;
    font-size: .8rem;
}

.navbar {
    min-height: 74px;
    z-index: 991;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
    text-align: right;
    padding-right: 1.5rem;
}

.nav-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 20px;
    color: rgb(104, 110, 115);
    text-align: center;
    margin-left: 20px;
    padding-bottom: 0;
}

.nav-item i {
    position: absolute;
    left: -15px;
    right: 0;
    bottom: 46px;
    line-height: 0;
    display: none;
    text-align: center;
}

.nav-item:hover i {
    display: block;
}

/*Footer*/

footer {
    clear: both;
    position: relative;
    height: 60px;
}

.social-icons {
    font-size: 25px;
    text-align: right;
    color: #ffffff;
}

.social-icons i {
    margin-right: 10px;
    color: #ef208b;
    font-size: 25px;
    margin-top: 15px;
}

.contact-details a {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: #ef208b;
    position: relative;
    margin-top: 17px;
}

.social-icons i:hover {
    color: #f5c2d4;
}

/*--------------------------homepage main body------------------------------ */

.box {
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.homepage .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#generationLabel,
#generationVal,
.sliders {
    color: white;
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    align-items: center;
}

.slider.slider-horizontal {
    margin: -27px;
    box-sizing: border-box;
}

/* Code used to create buttons on homepage altered with own fill and FA icons
https://tympanus.net/codrops/2012/09/13/button-switches-with-checkboxes-and-css3-fanciness/ */

.switch input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
    right: 0;
}

.switch i {
    vertical-align: middle;
}

.switch {
    margin: 36px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
}

.switch label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #a5a39d;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: #b25244;
    /* Fallback */
    background: linear-gradient(#f7f2f6, #b2ac9e);
    transition: all 0.3s ease-out;
    z-index: 1;
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.3),
        0 10px 10px 4px rgba(0, 0, 0, 0.3);
}

.fa-play-circle:before {
    position: absolute;
    left: 10px;
    top: 10px;
}

.switch label:before {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.switch label:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    z-index: -2;
    border-radius: inherit;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 0 10px rgba(0, 0, 0, 0.15);
}

/* button light effect when*/
.switch input:active~label {
    color: #6fdb22;
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
}

/* play/pause button light effect */
.switch input:checked~label {
    color: #6fdb22;
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
}

input[id="rainbow"]:checked~label i {
    background: radial-gradient(#ff0000 0 14%, #ff7700 14% 28%, #FFDD00 28% 42%, #00FF00 42% 56%, #4bcbd6 43% 69%, #C77DF3 64% 84%, #8A2BE2 53% 54%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #a5a39d;
    background-position: 0 3px;
    -webkit-text-fill-color: transparent;
}

.col-3 .demos {
    position: relative;
}

.color {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 20px;
}

.controlRow {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 10px;
    align-items: center;
    align-content: center;
}

.demos {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.demos h2 {
    margin: 43px 10px 67px 20px;
    font-size: 1.6rem;
}

.imgholder {
    display: flex;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

.imgholder img {
    height: 200px;
    margin: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.imgholder span {
    color: white;
}

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 140px);
}

.controls {
    display: inline-flex;
    flex: 1;
    flex-direction: column-reverse;
    align-content: space-around;
    margin: 20PX;
    align-items: center;
}

.button-row .col-3 {
    display: flex;
    justify-content: center;
    width: 0;
    margin: 0;
    height: 120px
}

.controls button {
    margin: 15px;
}

#colorBar {
    align-self: center;
}

#generate {
    text-align: left;
}

canvas {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(180deg, red, yellow); */
    box-shadow:
        0 8px 6px -6px black,
        0 0 0 5px rgba(255, 255, 255, 0.4),
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%),
        inset 0 0 10px #000000,
        0 0 0 20px hsl(0, 0%, 90%);
    margin: 30px;
}

.canvas-col .container-fluid {
    --bs-gutter-x: 0;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(31, 37, 43);
    padding: 5px 10px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
}

.tooltip-inner {
    border-radius: 1.25rem;
}

/*--------------------------about page------------------------------ */

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.wrapper {
    max-width: 1100px;
    padding: 30px;
    font-size: 1.3rem;
    text-align: left;
}

.wrapper li {
    margin-bottom: 20px;
    margin: 30px;
}

.wrapper1 img {
    float: right;
    margin: 0 90px 20px;
    width: 281px;
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.wrapper3 img {
    float: left;
    margin: 60px 50px 60px 50px;
    width: 350px;
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.aboutpage h1,
h2 {
    margin-top: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}

.aboutpage hr {
    border: 3px solid rgb(34, 30, 30);
    width: 80px;
    border-radius: 3px;
    margin-top: 13px;
}

.aboutpage ol {
    text-align: left;
}

.aboutpage a {
    color: white;
}

.watch {
    width: 600px;
    margin: 60px;
}

.watch iframe {
    height: 100%;
    height: 300px;
    width: 600px;
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

/* -----------------Media Queries----------------------- */

/*------------------------Tablet size screen---------------------------*/

@media only screen and (max-width: 1200px) {
    .imgholder {
        margin: 0;
    }

    .box {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .color {
        position: absolute;
        top: -100px
    }
    .controlRow {
        position: relative;
    }
    .arrow {
        display:none;
    }
}

@media only screen and (max-width: 992px) {
    .nav-item:hover i {
        display: none;
    }
}

/*-------------------------Mobile size screen---------------------------*/
@media only screen and (max-width: 700px) {

    .wrapper1 p {
        margin: 90px;
    }

    .watch iframe {
        height: 160px;
        width: 320px;
    }

    button {
        padding: 5px;
        margin: 0 auto;
    }

    .button-row .col-3 {
        margin: 34px;
    }

    .button-row {
        margin-top: -55px;
    }

    .aboutpage img {
        width: 350px;
    }

    .switch label:after {
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0px rgb(0 0 0 / 30%), 0 0 1px rgb(0 0 0 / 15%)
    }

    .imgholder {
        margin: 0;
    }

    h2 {
        margin: 20px;
    }

    .contact-details {
        text-align: center;
    }

    .social-icons {
        margin-right: 20px;
    }

    .contact-details a {
        margin-top: 15px;
        margin-left: 15px;
    }
}

@media only screen and (min-height: 741px) {
    .arrow {
        display:none;
    }
}

@media only screen and (max-height: 740px) {
    /* Animation code for c scroll feature. https://codemyui.com/scroll-arrow-bounce-animation/  */
    .arrow a {
        color: rgba(255,255,255,0.7);
        text-decoration: none;
        font-size: 30px;
    }
    
    .arrow {
        text-align: center;
        position: fixed;
        bottom: 2px;
        right:46%;
    }

    .bounce {
        -moz-animation: bounce 3s 3;
        -webkit-animation: bounce 3s 3;
        animation: bounce 3s 3;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
}