/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto&display=swap');

@font-face {
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'),
        url('../font/fontawesome-webfont.woff') format('woff'),
        url('../font/fontawesome-webfont.ttf') format('truetype'),
        url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}

/*--------------------------------------Header/Navigation----*/

.logo img {
    height: 100%;
    max-height: 72px;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
}

.navbar-toggler {
    margin: 10px;
    font-size: .8rem;
}

.navbar {
    min-height: 74px;
    z-index: 991;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
    text-align: right;
    padding-right: 1.5rem;
}

.nav-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 20px;
    color: rgb(104, 110, 115);
    text-align: center;
    margin-left: 20px;
    padding-bottom: 0;
}

.nav-item i {
    position: absolute;
    left: -15px;
    right: 0;
    bottom: 46px;
    line-height: 0;
    display: none;
    text-align: center;
}

.nav-item:hover i {
    display: block;
}

.current a i,
.current span {
    display: block;
    color: rgb(47, 49, 51)
}

/*Footer*/

footer {
    clear: both;
    position: relative;
    height: 60px;
}

.social-icons {
    font-size: 25px;
    text-align: right;
    color: #ffffff;
}

.social-icons i {
    margin-right: 10px;
    color: #ef208b;
    font-size: 25px;
    margin-top: 15px;
}

.contact-details a {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: #ef208b;
    position: relative;
    margin-top: 17px;
}

.social-icons i:hover {
    color: #f5c2d4;
}

/*--------------------------homepage main body------------------------------ */

.box {
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.homepage .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoButton {
    content: "\f128";
    color: white;
    width: 10px;
    font-size: 2rem;
    position: absolute;
    top: 7px;
    right: 15px;
    text-shadow: 0px 5px 8px #000;
    padding: 20px 20px;
    z-index: 3;
}

/* Used to create shaking Info icon */
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
.infoButton i {
    animation: shake 1s;
    animation-delay: 3s;
    animation-iteration-count: 4;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        color: #83e018;
        text-shadow: 0 0 10px #ffffff;
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
        color: white;
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
        text-shadow: 0 0 65px #ffffff;
        color: #83e018;
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
        color: white;
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
        text-shadow: 0 0 10px #ffffff;
        color: #83e018;
    }
}

.infoButton:hover {
    cursor: pointer;
}

.close {
    margin: 0;
}

.infoButton:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.infoButton:active {
    text-shadow: 0 0 3px #000;
}

.buttonImage {
    height: 30px;
}

.sliderImage {
    height: 72px;
    border-radius: 40px;
    margin: 12px;
}

.colorSlider {
    height: 100px;
    border-radius: 40px;
    margin: 12px;
}

#generationLabel,
#generationVal,
.sliders {
    color: white;
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider.slider-horizontal {
    margin: -27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-handle:hover {
    cursor: grab;
}

.slider-handle:active {
    cursor: grabbing;
}

/* Code used to create buttons on homepage altered with own fill and FA icons
https://tympanus.net/codrops/2012/09/13/button-switches-with-checkboxes-and-css3-fanciness/ */

.switch input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
    right: 0;
}

.switch i {
    vertical-align: middle;
}

.switch {
    margin: 36px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
}

.switch label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #a5a39d;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: #b25244;
    /* Fallback */
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f2f6), to(#b2ac9e));
    background: -o-linear-gradient(#f7f2f6, #b2ac9e);
    background: linear-gradient(#f7f2f6, #b2ac9e);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 1;
    -webkit-box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.3),
        0 10px 10px 4px rgba(0, 0, 0, 0.3);
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.3),
        0 10px 10px 4px rgba(0, 0, 0, 0.3);
}

.fa-play-circle:before {
    position: absolute;
    left: 10px;
    top: 10px;
}

.switch label:before {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    -webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.switch label:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    z-index: -2;
    border-radius: inherit;
    -webkit-box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 0 10px rgba(0, 0, 0, 0.15);
}

/* button light effect when*/
.switch input:active~label {
    color: #6fdb22;
    -webkit-box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
}

/* play/pause button light effect */
.switch input:checked~label {
    color: #6fdb22;
    -webkit-box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.13),
        0 5px 8px rgba(0, 0, 0, 0.35),
        0 3px 10px 4px rgba(0, 0, 0, 0.2);
}

input[id="rainbow"]:checked~label i {
    background: -o-radial-gradient(#ff0000 0 14%, #ff7700 14% 28%, #FFDD00 28% 42%, #00FF00 42% 56%, #4bcbd6 43% 69%, #C77DF3 64% 84%, #8A2BE2 53% 54%);
    background: radial-gradient(#ff0000 0 14%, #ff7700 14% 28%, #FFDD00 28% 42%, #00FF00 42% 56%, #4bcbd6 43% 69%, #C77DF3 64% 84%, #8A2BE2 53% 54%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #a5a39d;
    background-position: 0 3px;
    -webkit-text-fill-color: transparent;
}

.col-3 .rules {
    position: relative;
}

.color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
}

.controlRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.rules {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.rules h1 {
    margin: 43px 10px 67px 20px;
    font-size: 1.8rem;
}

.imgholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

.imgholder img {
    height: 200px;
    margin: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.imgholder span {
    color: white;
}

.homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.controls {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    margin: 20PX;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-row .col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0;
    margin: 0;
    height: 120px
}

.button-row {
    margin-bottom: -10px;
}

.controls button {
    margin: 15px;
}

.colorBar {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.generate {
    text-align: left;
    background-color: black;
}

canvas {
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow:
        0 8px 6px -6px black,
        0 0 0 5px rgba(255, 255, 255, 0.4),
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%),
        inset 0 0 10px #000000,
        0 0 0 20px hsl(0, 0%, 90%);
    box-shadow:
        0 8px 6px -6px black,
        0 0 0 5px rgba(255, 255, 255, 0.4),
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%),
        inset 0 0 10px #000000,
        0 0 0 20px hsl(0, 0%, 90%);
    margin: 30px;
    z-index: 3;
    cursor: url("../../assets/images/cursor.png"), auto;
}

.modal-content {
    border-radius: 1.3rem;
}

#canvasMessage {
    position: relative;
}

/* I added this background to the canvas and made the canvas transparent ensuring canvas was always on the top layer to fix the issue of the 'help text' stopping the initial draw */
#canvasBackground {
    position: absolute;
    background-color: rgb(255, 255, 255);
    /* margin: 30px; */
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvasInstruction {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
    color: #5d5159;
    z-index: 2;
}

.canvas-col .container-fluid {
    --bs-gutter-x: 0;
}

.fa-hand-point-down {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(31, 37, 43);
    padding: 5px 10px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
}

.tooltip-inner {
    border-radius: 1.25rem;
}

/*--about page--*/

.aboutpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1100px;
    font-size: 1.3rem;
    text-align: left;
}

.wrapper li {
    margin-bottom: 20px;
    margin: 30px;
}

.wrapper1 img {
    float: right;
    margin: 0 90px 20px;
    width: 281px;
    -webkit-box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.wrapper3 img {
    float: left;
    margin: 60px 50px 60px 50px;
    width: 350px;
    -webkit-box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.aboutpage h1,
h2 {
    font-family: 'Gloria Hallelujah', cursive;
}

.aboutpage hr {
    border: 3px solid rgb(34, 30, 30);
    width: 80px;
    border-radius: 3px;
    margin-top: 13px;
}

.aboutpage ol {
    text-align: left;
}

.aboutpage a {
    color: white;
}

.watch {
    width: 600px;
    margin: 60px;
}

.watch iframe {
    height: 100%;
    height: 300px;
    width: 600px;
    -webkit-box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    box-shadow: 7px 5px 8px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

/* -----------------Media Queries----------------------- */

/*------------------------Tablet size screen---------------------------*/

@media only screen and (max-width: 1200px) {
    .imgholder {
        margin: 0;
    }

    .box {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1800px) {
    .rules h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 769px) {
    .color {
        position: absolute;
        top: -100px
    }

    .controlRow {
        position: relative;
    }

    .arrow {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .nav-item:hover i {
        display: none;
    }

    .current a i {
        display: none;
    }
}

/*-------------------------Mobile size screen---------------------------*/
@media only screen and (max-width: 767px) {

    .watch iframe {
        height: 160px;
        width: 320px;
    }

    button {
        padding: 5px;
        margin: 0 auto;
    }

    .button-row .col-3 {
        margin: 34px;
    }

    .button-row {
        margin-top: -55px;
    }

    .wrapper1 img,
    .wrapper3 img {
        width: 290px;
    }

    .wrapper1 img {
        margin: 7px 7px 20px;
    }

    .wrapper li {
        margin: 25px 47px;
    }

    .wrapper3 img {
        margin: 40px;
    }

    .wrapper1 p,
    .wrapper3 p {
        text-align: left;
        margin: 10px;
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .switch label:after {
        -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0px rgb(0 0 0 / 30%), 0 0 1px rgb(0 0 0 / 15%);
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0px rgb(0 0 0 / 30%), 0 0 1px rgb(0 0 0 / 15%)
    }

    .imgholder {
        margin: 0;
    }

    h2 {
        margin: 20px;
    }

    .contact-details {
        text-align: center;
    }

    .social-icons {
        margin: auto;
        text-align: center;
    }

    .contact-details a {
        margin-left: 15px;
    }
}

@media only screen and (min-height: 741px) {
    .arrow {
        display: none;
    }
}

@media only screen and (max-height: 740px) {

    /* Animation code for c scroll feature. https://codemyui.com/scroll-arrow-bounce-animation/  */
    .arrow a {
        color: #5d5159;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        font-size: 30px;
    }

    .arrow {
        text-align: right;
        position: fixed;
        bottom: 2px;
        right: 15px;
        z-index: 2;
    }

    .fa-chevron-down:before {
        padding: 20px 20px;
        display: block;
    }

    .bounce {
        -webkit-animation: bounce 3s 3;
        animation: bounce 3s 3;
    }

    @-webkit-keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }
}

@media only screen and (max-width: 500px) {

    .wrapper1 img,
    .wrapper3 img {
        float: unset;
        margin: 0;
    }

    .wrapper1,
    .wrapper3 {
        text-align: center;
    }

    .wrapper1 p,
    .wrapper3 p {
        margin-top: 30px;
    }

    .wrapper li {
        margin: 25px 0;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 300px) and (max-device-width: 990px) {
    .generationLabel {
        display: none;
    }

    #canvasInstruction {
        font-size: 15px;
    }

    .navbar,
    .logo img {
        min-height: 40px;
    }

    .navbar-light .navbar-toggler {
        font-size: 0.5rem;
        margin: 4px;
    }

    .fa-info:before {
        font-size: 1.3rem;
    }

    #generationVal,
    #generationLabel {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .box {
        padding-top: 0;
    }

    .button-row {
        margin-top: -42px;
    }

    .controlRow{
        margin: 66px;
    }
}